.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.danh-muc-item {
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Thêm hiệu ứng chuyển động */
  background-color: white;
}

.danh-muc-item:hover {
  background-color: #b5c7df; 
}

.danh-muc-item:active {
  transform: scale(0.98); /* Tạo hiệu ứng co lại khi nhấn */
  background-color: #a3b2d8; /* Màu nền khi nhấn */
}
.hinh-anh-chi-tiet:active{
  transform: scale(0.98); /* Tạo hiệu ứng co lại khi nhấn */
  background-color: #a3b2d8; /* Màu nền khi nhấn */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
